<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About | Ukrainian Association of Washington State</title>
  <meta name="description" content="" />
  <%- include('templates/head.ejs') %>
    <style>
      <%- include('../generated/about.css') %>
    </style>
    <script>
<% - include('../generated/app.js') %>
    </script>
</head>

<body>
  <%- include('templates/nav.ejs') %>
  <div class="container section">
    <hr>
    <h2>About the Association</h2>
    <div class="row">
      <div class="col">
        <img class="rounded float-end support-image" src="<%- include('images/ukraine-meeting-needle.jpg') %>" alt="Ukrainians at the needle">
        <p>Ukrainian Association of Washington State is a non-profit 501(c)(3) organization. The organization does not
          have paid employees - all operations are based solely on volunteer support.
        </p>
        <p>
          Since its foundation in 1971 the Association has organized numerous cultural and political events, sponsors
          Ukrainian culture organizations and programs, promotes awareness nd relations between US and Ukraine. Our
          largest programs include:
        </p>
        <ul>
          <li>Annual Ukraine's Independence day celebration and annual birthday celebration of Ukrainian bard Taras
            Shevchenko</li>
          <li>Organized Ukrainian language classes in UW in 1973 and continues to sponsor
            <a href="https://slavic.washington.edu/funds/ukrainian-studies-endowment" target="_blank">Ukrainian
              Studies</a>
          </li>
          <li>Sponsors Ukrainian dance group <a href="https://www.barvinokseattle.org/" target="_blank">Barvinok</a> and
            chorus
            <a href="https://www.facebook.com/Serpanok-Choir-X%D0%BE%D1%80-%D0%A1%D0%B5%D1%80%D0%BF%D0%B0%D0%BD%D0%BE%D0%BA-265732223468131/"
              target="_blank">Serpanok</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container section">
    <h2>Our Partners</h2>
    <div class="row">
      <div class="col-auto">
        <table class="table list-table h5">
          <tr>
            <td style="text-align: center;"><a href="https://novaukraine.org/en/homepage/" target="_blank"><div class="p-1" style="background-color: #02113A; height: 88px; width: auto"><%- include('images/nova-ukraine.svg') %></div></a></td>
            <td style="vertical-align: middle;"><a href="https://novaukraine.org/en/homepage/" target="_blank">Nova Ukraine</a></td>
          </tr>
          <tr>
            <td style="text-align: center"><a href="https://usas.stanford.edu/" target="_blank"><div class="p-1" style="background-color: #02113A;"><img src="<%- include('images/Standford_USAS_White_Font.webp') %>" width="auto" height="88px"></div></a></td>
            <td style="vertical-align: middle;"><a href="https://usas.stanford.edu/" target="_blank">Ukrainian Student Association at Stanford</a></td>
          </tr>
          <tr>
            <td style="text-align: center"><a href="https://mtww.net/" target="_blank"><div class="py-3" style="background-color: #02113A;"><img alt="Image" src="<%- include('images/Medical_Teams.png') %> " width="auto" height="88px"></div></a></td>
            <td style="vertical-align: middle;"><a href="https://mtww.net/" target="_blank">Medical Teams Worldwide</a></td>
          </tr>
          <tr>
            <td style="text-align: center"><a href="https://adamsmith.house.gov/" target="_blank"><div class="py-3"><img alt="Image" src="<%- include('images/Adam_Smith.jpg') %> " width="auto" height="88px"></div></a></td>
            <td style="vertical-align: middle;"><a href="https://adamsmith.house.gov/" target="_blank">Congressman Adam Smith</a></td>
          </tr>
          <tr>
            <td style="text-align: center"><a href="https://www.sekologistics.com/" target="_blank"><div class="py-3"><img alt="Image" src="<%- include('images/seko.png') %> " width="auto" height="88px"></div></a></td>
            <td style="vertical-align: middle;"><a href="https://www.sekologistics.com/" target="_blank">SEKO Logistics Seattle</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="container section">
    <h2>Our Team</h2>
    <div class="row text-center">
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/Lilya_Kovalenko-350px.jpg') %>" alt="Liliya Kovalenko">
        <h5 class="card-title">Liliya Kovalenko</h5>
        <h6 class="card-subtitle mb-2 text-muted">President</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/Eduard_Dudar.jpg') %>" alt="Eduard Dudar">
        <h5 class="card-title">Eduard Dudar</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vice-President</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/no-photo.jpg') %>" alt="Olga Krupa">
        <h5 class="card-title">Olga Krupa</h5>
        <h6 class="card-subtitle mb-2 text-muted">Secretary</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/no-photo.jpg') %>" alt="Olga Krupa">
        <h5 class="card-title">Oleksandr Dudyshyn</h5>
        <h6 class="card-subtitle mb-2 text-muted">Treasurer</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/no-photo.jpg') %>" alt="Olga Krupa">
        <h5 class="card-title">Valentyna Drohomyretska</h5>
        <h6 class="card-subtitle mb-2 text-muted">Board of Directors</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/no-photo.jpg') %>" alt="Olga Krupa">
        <h5 class="card-title">Maksym Kovalenko</h5>
        <h6 class="card-subtitle mb-2 text-muted">Board of Directors</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/Nazar_Stetsyuk.jfif') %>" alt="Nazar Stetsyuk">
        <h5 class="card-title">Nazar Stetsyuk</h5>
        <h6 class="card-subtitle mb-2 text-muted">Board of Directors</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/KaterinaSedova.jpg') %>" alt="Kateryna Sedova">
        <h5 class="card-title">Kateryna Sedova</h5>
        <h6 class="card-subtitle mb-2 text-muted">Board of Directors</h6>
      </div>
      <div class="col-2 card">
        <img class="card-img-top" src="<%- include('images/OksanaPierce.jfif') %>" alt="Oksana Pierce">
        <h5 class="card-title">Oksana Pierce</h5>
        <h6 class="card-subtitle mb-2 text-muted">Board of Directors</h6>
      </div>
    </div>
  </div>
  <%- include('templates/footer.ejs')  %>
</body>

</html>
