<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Contacts  | Ukrainian Association of Washington State</title>
  <meta name="description" content="" />
<%- include('templates/head.ejs') %>
  <style>
<%- include('../generated/contacts.css') %>
  </style>
  <script>
<%- include('../generated/app.js') %>
  </script>
</head>

<body>
  <%- include('templates/nav.ejs') %>
  <div class="container section">
    <hr/>
    <h2>Contact Us</h2>

    <div class="row my-4">
      <div class="col-2 col-sm-1 icon">
          <%- include('../node_modules/@fortawesome/fontawesome-free/svgs/brands/square-facebook.svg') %>
      </div>
      <div class="col-10 col-sm-auto px-2">
        <h5>Facebook</h5>
        <h6><a href="https://www.facebook.com/uaofws">facebook.com/uaofws</a></h6>
      </div>
    </div>  

    <div class="my-4 row icon">
      <div class="col-2 col-sm-1">
          <%- include('../node_modules/@fortawesome/fontawesome-free/svgs/solid/location-dot.svg') %>
      </div>
      <div class="col px-2">
        <h5>Mailing Address</h5>
        <h6>PO Box 2373<br/>Renton<br/>WA, 98056</h6>
      </div>
    </div>  

    <div class="my-3 row">
      <div class="col-2 col-sm-1 icon">
        <%- include('../node_modules/@fortawesome/fontawesome-free/svgs/solid/envelope.svg') %>
      </div>
      <div class="col px-2">
        <h5>E-mail</h5>
        <h6><a id="addr"></a></h6>
        <script>
        </script>
      </div>
    </div>  

    <div class="my-3 row">
      <div class="col-2 col-sm-1 icon">
        <%- include('../node_modules/@fortawesome/fontawesome-free/svgs/solid/square-phone.svg') %>
      </div>
      <div class="col px-2">
        <h5>Phone</h5>
        <h6><a id="phone"></a></h6>
      </div>
    </div>  
  </div>

  <script>
    // Make it harder to scrape page for addresses.
    $('#addr').text('uaofws\x40' + 'gmail' + '\x2Ecom');
    $('#addr').attr('href', 'mailto\x3A' + $('#addr').text());

    // Make it harder to scrape page for phones.
    $('#phone').text('\x28206\x29' + ' 412\x2D8485');
    $('#phone').attr('href', 'tel\x3A' + $('#phone').text());
  </script>

<%- include('templates/footer.ejs')  %> 
</body>

</html>
