<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Donate  | Ukrainian Association of Washington State</title>
  <meta name="description" content="" />
<%- include('templates/head.ejs') %>
  <style>
<%- include('../generated/donate.css') %>
  </style>
  <script>
<%- include('../generated/app.js') %>
  </script>
</head>

<body>
  <%- include('templates/nav.ejs') %>
  <hr/>
  <div class="container section">
    <h2 class="">Ways to Donate</h2>
    <ul>
      <li><a href="#credit-card">Credit Card</a></li>
      <li><a href="#paypal">PayPal</a></li>
      <li><a href="#wire-transfer">Wire Transfer</a></li>
      <li><a href="#ach-transfer">ACH Transfer</a></li>
      <li><a href="#cheks">Personal Checks</a></li>
    </ul>

    <div id="credit-card" class="card my-4">
      <div class="card-body">
        <h5 class="card-title">Credit Card</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fastest and most convenient way to donate (using PayPal as payment processor).</h6>
        <a class="btn btn-warning btn-rounded" href="https://www.paypal.com/donate/?hosted_button_id=QNBZXQRSPYYB4" target="_blank">
            Donate
        </a>
      </div>
    </div>  

    <div id="paypal" class="card my-4">
      <div class="card-body">
        <h5 class="card-title">PayPal</h5>
        <h6 class="card-subtitle mb-2 text-muted">Convenient way to donate if you already have a PayPal account.</h6>
        <a class="btn btn-warning btn-rounded" href="https://www.paypal.com/donate/?hosted_button_id=QNBZXQRSPYYB4" target="_blank">
            <svg height="20" width="20"><%- include('../node_modules/@fortawesome/fontawesome-free/svgs/brands/paypal.svg') %></svg>
            Donate
        </a>
      </div>
    </div>  

    <div id="wire-transfer" class="card my-4">
      <div class="card-body">
        <h5 class="card-title">Domestic Wire Transfer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Convenient way for one-time donation or large-amount from your bank.</h6>
        <p class="card-text">
          <table class="table table-sm">
            <tr><th scope="row">Bank</th><td>Ukrainian Federal Credit Union, Rochester, New York</td></tr>
            <tr><th scope="row">ABA Routing #</th><td>222-38-222-1</td></tr>
            <tr><th scope="row">Member Name</th><td>Ukrainian Association of WA state</td></tr>
            <tr><th scope="row">Member Account #</th><td>1101034899</td></tr>
            <tr><th scope="row">Member Street Address</th><td>13910 SE 92nd St, Newcastle, WA 98059</td></tr>
            <tr><th scope="row">Purpose of Wire</th><td>E.g. Humanitarian Aid to Ukraine</td></tr>
          </table>
        </p>
      </div>
    </div>  
    
    <div id="ach-transfer" class="card my-4">
      <div class="card-body">
        <h5 class="card-title">ACH Transfer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Convenient for periodic donations from your bank.</h6>
        <p class="card-text">
          <table class="table table-sm">
            <tr><th scope="row">Bank</th><td>Ukrainian Federal Credit Union, Rochester, New York</td></tr>
            <tr><th scope="row">ABA Routing #</th><td>222-38-222-1</td></tr>
            <tr><th scope="row">Member Name</th><td>Ukrainian Association of WA state</td></tr>
            <tr><th scope="row">Member Account #</th><td>1101034899</td></tr>
          </table>
        </p>
      </div>
    </div>  

    <div id="checks" class="card my-4">
      <div class="card-body">
        <h5 class="card-title">Personal Checks</h5>
        <h6 class="card-subtitle mb-2 text-muted">Convenient for donation over mail.</h6>
        <p class="card-text">
          <table class="table table-sm">
            <tr><th scope="row">To</th><td>Ukrainian Association of WA state </td></tr>
            <tr><th scope="row">Address</th><td>Ukrainian Federal Credit Union<br/>
              716 S 348th St., Bldg. C Suite A<br/>
              Federal Way<br/>
              WA 98023
            </td></tr>
          </table>
        </p>
      </div>
    </div>
  </div>
  <%- include('templates/footer.ejs')  %> 
</body>

</html>
