<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Events  | Ukrainian Association of Washington State</title>
  <meta name="description" content="" />
<%- include('templates/head.ejs') %>
  <style>
<%- include('../generated/events.css') %>
  </style>
  <script>
<%- include('../generated/app.js') %>
  </script>
</head>

<body>
  <%- include('templates/nav.ejs') %>
  <div class="container section">
    <hr/>
    <h2>Events</h2>
    <% events.forEach(e => { %>
      <div class="row my-3">
        <div class="col-4 col-md-3 col-lg-2">
          <a href="<%= e.base_name %>.html">
            <img class="img-fluid" src="<%= e.cover_square_min %>" alt="<%= e.name %>" srcset="<%= e.cover_square_srcset %>" sizes="20vw">
          </a>
        </div>
        <div class="col-8 col-md-9 col-lg-10">
          <a href="<%= e.base_name %>.html">
            <h3><%= e.name %></h3>
          </a>
          <h5 class="text-muted"><%= e.start %></h5>
          <% if (e.location) { %>
            <h5 class="text-muted"><a href="https://www.google.com/maps/search/?api=1&query=<%= encodeURI(e.location) %>" target="_blank"><%= e.location %></a></h5>
          <% } %>
          <% e.description.split('\n').forEach(line => { %>
            <p><%- line %></p>
          <% }); %>
        </div>
      </div>
    <% }); %>
  </div>
  <%- include('templates/footer.ejs')  %>
</body>

</html>
