<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Events  | Ukrainian Association of Washington State</title>
  <meta name="description" content="" />
<%- include('templates/head.ejs') %>
  <style>
<%- include('../generated/events.css') %>
  </style>
  <script>
<%- include('../generated/app.js') %>
  </script>
</head>

<body>
  <%- include('templates/nav.ejs') %>
  <div class="container section">
  </div>  
  <%- include('templates/footer.ejs')  %> 
</body>

</html>
