<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Projects  | Ukrainian Association of Washington State</title>
  <meta name="description" content="" />
<%- include('templates/head.ejs') %>
  <style>
<%- include('../generated/projects.css') %>
  </style>
  <script>
<%- include('../generated/app.js') %>
  </script>
</head>

<body>
  <%- include('templates/nav.ejs') %>
  <div class="container section">
    <hr/>
    <h2>NICU: Neonatal Incubators For Ukraine</h2>
    <figure class="figure">
      <img src="<%- include('images/nico-1170x530.jpg') %>" width="100%" height="auto" alt="neonatal incubator">
      <figcaption class="figure-caption">© UNICEF/Andriy Boiko. A newborn baby lies in an incubator at a maternity ward that was moved to the basement of a hospital in Kyiv, Ukraine.</figcaption>
    </figure>
    <p>As the relentless attacks from Russia on the Ukrainian land continues, the UAWS is committed to doing its part to provide help where it’s most needed. Our organization maintains constant communication with the Ukrainian Ministry of Health to ensure our efforts are aligned with the urgent needs that arise during these challenging times.</p>    
    <p>This summer, the UAWS set a goal to raise $4.5M for crucial neonatal care equipment, specifically – neonatal incubators. According to the UN Population Fund, an estimated 265,000 Ukrainian women were pregnant when the war broke out, and about 80,000 births are expected in the next three months. According to the BBC, premature births now account for 50% of deliveries. We aim to provide at least ten units for 50 Ukrainian prenatal and maternity hospitals to address dire situations with stress-induced premature childbirths. These will provide infants with a safe and controlled environment, giving them the space and time needed to develop their vital organs.</p>
  </div>  
  <div class="container section">
    <hr/>
    <h3>We are asking for your continued support</h3>
    <div class="row text-center">
      <div class="col donation">
        <h4>Monetary Donations</h4>
        <p>Help funding the purchase of the following units</p>
        <a class="btn btn-warning btn-rounded my-2" href="https://uaws.org/donate" target="_blank">
          <h4 class="m-2">
            <svg height="20" width="20"><%- include('../node_modules/@fortawesome/fontawesome-free/svgs/brands/paypal.svg') %></svg>
            Donate Now
          </h4>
        </a>
      </div>
      <div class="col donation">
        <h4>Equipment Donations</h4>
        <p>Donate used/refurbished units from medical institutions in the US and Europe.</p>
        <p>See the list requested by Ukraine’s Ministry of Health below.</p>
        <a href="contacts.html" class="link-warning">Contact Us</a>
      </div>
    </div>
  </div>  
  <div class="container section">
    <hr/>
    <h3>List of Equipment</h3>
    
    <div class="row">
      <div class="col-auto">
        <table class="table list-table">
          <tbody>
            <tr><td>Mobile Incubators</td><td class="list-qty">50 units</td></tr>
            <tr><td><a href="https://atomed-global.com/product/cat_neonatology/030.html" target="_blank">ATOM MEDICAL Dual Incu i</a></td><td class="list-qty">16 units</td></tr>
            <tr><td><a href="https://atomed-global.com/product/cat_neonatology/031.html" target="_blank">ATOM MEDICAL Incu i</a></td><td class="list-qty">16 units</td></tr>
            <tr><td><a href="https://atomed-global.com/product/cat_neonatology/032.html" target="_blank">ATOM MEDICAL Air Incu i</a></td><td class="list-qty">16 units</td></tr>
            <tr><td><a href="https://atomed-global.com/product/cat_neonatology/036.html" target="_blank">ATOM MEDICAL Infa Warmer i</a></td><td class="list-qty">16 units</td></tr>
            <tr><td>Neonatal elastic caps</td><td class="list-qty">1000 pcs</td></tr>
            <tr><td>Maternity operating tables with electromechanical control</td><td class="list-qty">60 pcs</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <h3>In The Media</h3>
    <ul class="list">
      <li><a href="https://www.nytimes.com/2022/04/07/world/europe/ukraine-mothers-birth.html" target="_blank"><span style="font-weight: 400;">‘He Is a Child of War’: Giving Birth Amid Chaos in Ukraine</span></a></li>
      <li><a href="https://www.unicef.org/stories/ukraine-mothers-bring-light-new-life-darkness" target="_blank"><span style="font-weight: 400;">In Ukraine, mothers bring light of new life into the darkness</span></a></li>
      <li><a href="https://www.bbc.com/news/world-europe-60891846#:~:text=Prenatal%20clinics%20in%20both%20Kharkiv,just%20630g%20(1.4lbs)." target="_blank"><span style="font-weight: 400;">Ukraine: Premature babies struggling for life in bombed cities</span></a></li>
      <li><a href="https://www.abc.net.au/news/2022-04-13/premature-births-on-the-rise-in-ukraine-as-war-rages-on/100968686" target="_blank"><span style="font-weight: 400;">As Ukraine’s war rages, pregnant women are giving birth prematurely at an alarming rate</span></a></li>
      <li><a href="https://www.independent.co.uk/news/world/europe/ukraine-premature-babies-hospital-basement-b2027609.html" target="_blank"><span style="font-weight: 400;">Ukraine crisis: Premature babies born into war as deliveries forced to take place in hospital basement</span></a><a href="https://inews.co.uk/news/ukrainian-women-giving-birth-prematurely-trauma-war-1599583"><span style="font-weight: 400;">&nbsp;</span></a></li>
      <li><a href="https://inews.co.uk/news/ukrainian-women-giving-birth-prematurely-trauma-war-1599583" target="_blank"><span style="font-weight: 400;">Ukrainian women are giving birth prematurely due to trauma of war, doctor says</span></a></li>
      <li><a href="https://www.nbcnews.com/news/world/ukrainian-refugees-confront-increase-pregnancy-complications-rcna25467" target="_blank"><span style="font-weight: 400;">Ukrainian refugees confront increase in pregnancy complications</span></a></li>
      <li><a href="https://inews.co.uk/news/ukrainian-women-giving-birth-prematurely-trauma-war-1599583" target="_blank"><span style="font-weight: 400;">Ukrainian women are giving birth prematurely due to trauma of war, doctor says</span></a></p></div>  li 
    </ul>
  </div>
  <%- include('templates/footer.ejs')  %> 
</body>

</html>
