<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= name %> | Ukrainian Association of Washington State</title>
  <meta name="description" content="<%= description %>" />

  <script type="application/ld+json">
    [{
      "@context":"http://schema.org",
      "@type":"Event",
      "name":"<%= name %>",
      "description":"<%= description %>",
      "image":"<%= cover_rect_max %>",
      "url":"<%= base_name %>.html",
      "eventAttendanceMode":"https://schema.org/OfflineEventAttendanceMode",
      "startDate":"<%= new Date(start_time).toJSON() %>",
      "endDate":"<%= new Date(end_time).toJSON() %>",
      "location":{
        "@type":"Place",
        "name":"<%= address.name ? address.name : '' %>",
        "address":{
          "@type":"PostalAddress",
          "streetAddress":"<%= address.street ? address.street : '' %>",
          "addressLocality": "<%= address.city %>",
          "addressRegion": "<%= address.state %>",
          "postalCode": "<%= address.zip %>",
          "addressCountry":"United States"
        },
        "telephone":"",
        "sameAs":""
      },
      "performer":"Organization"
    }]
  </script>
<%- include('head.ejs') %>
  <style>
<%- include('../../generated/event.css') %>
  </style>
  <script>
<%- include('../../generated/app.js') %>
  </script>
</head>

<body>
  <%- include('nav.ejs') %>
  <div class="container">
    <a href="events.html"><h5 class="my-3" ><< Back to Events</h5></a>
    <hr/>
    <h2><%= name %></h2>
    <h5 id="time" class="text-muted"><%= start %></h5>
    <% if (locals.location) { %>
      <h5 class="text-muted"><a href="https://www.google.com/maps/search/?api=1&query=<%= encodeURI(location) %>" target="_blank"><%= location %></a></h5>
    <% } %>
    <img class="img-fluid my-2" src="<%= cover_rect_min %>" srcset="<%= cover_rect_srcset %>" alt="<%= name %> ">
